<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Pro Kanu</title>
</head>
<body>
<div>
	<form th:action="/logout" method="post">
		<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    	<input type="submit" value="Sign Out"/>
    </form>
</div> 

<div>
	<form method="post">
		<input type="text" name="text" placeholder="Text">
		<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
		<button type="submit">ADD TEXT</button>
	</form>
</div>
<br>

<div>User Messages</div>

<div>
	<form method="post" action="filter">
		<input type="text" name="filter">
		<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
		<button type="submit">FIND TEXT</button>
	</form>
</div>

{{#messages}}
<div>
	<b>{{id}}</b>
	<i>{{text}}</i>
	<strong>{{authorName}}</strong>
</div>
{{/messages}}

</body>
</html>	